<%# app/views/players/modal/_tabs.html.erb %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#player-pane-overview" type="button" role="tab">
      Overview
    </button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#player-pane-gamelog" type="button" role="tab">
      Game Logs
    </button>
  </li>
</ul>